<!DOCTYPE html>
<html>
    <head>
        <title>TiendaTech</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header>
            <h1>Imágenes</h1>
        </header>
        <aside>
            <h1>Mis Autos</h1>
            <p>Los autos que en mi subconsiente llevo todos los dias..</p>
        </aside>
        <section>
            <h2>Lunes</h2>
            <img src="/img/lunes.jpg" width="300" alt=""/>
            <h2>Martes</h2>
            <img src="https://img.pacifiko.com/PROD/resize/1/1000x1000/MmFkMWE3YT.jpg" width="300" alt=""/>
        </section>
        <footer>
            Todos los Derechos Reservados TiendaTech 2026 &COPY;
        </footer>
        
    </body>
</html>
